<li class="py-1">
  <%= link_to organization.name, admin_organization_path(organization), class: "me-2" %>
  <span class="badge text-bg-secondary"><%= pluralize(organization.users.count, "user") %></span>
  <% children = organization.children.order(:name) %>
  <% if children.any? %>
    <ul class="list-unstyled ms-4 mt-1">
      <% children.each do |child| %>
        <%= render "organization_node", organization: child %>
      <% end %>
    </ul>
  <% end %>
</li>
