<% content_for :title, "Edit Campaign" %>

<div class="row">
  <div class="col-md-8 col-lg-6">
    <h1 class="h3 mb-4">Edit Campaign</h1>
    <div class="card shadow-sm mb-4">
      <div class="card-body p-4">
        <%= render "form", campaign: @campaign %>
      </div>
    </div>

    <%= render "steps", campaign: @campaign %>
  </div>
</div>
