<% content_for :title, "Edit Location" %>

<%= render "shared/breadcrumb", at: :location_edit %>

<h1 class="h3 mb-4">Edit Location</h1>

<%= render "form",
      location_form_url: location_path,
      location_form_method: :patch,
      submit_label: "Save Changes",
      cancel_url: my_organization_path %>
